p, h1{
	font-family: 'Droid Sans', sans-serif;
}

/* NAVIGATION */

.navbar{
	/*background-color: #242424;*/
	/*border-bottom: 1px solid #b9b9b9;*/
	background-color: transparent;
	border: none;
	font-family: "Lato", sans-serif;
}

.navbar button{
	background-color: transparent !important;
}

.navbar .nav li{
	font-size: 120%;
	font-weight: normal;
	padding-right: 5px;
}

.navbar a{
	color: #cccccc !important;
}

.navbar a:hover{
	color: #e67e22 !important;
	background-color: none !important;
}

.navbar-header .navbar-brand{
	color: #ffffff !important;
	font-size: 2em;
}

.navbar-header .navbar-brand:hover{
	color: #e67e22 !important;
	background-color: transparent !important;
}

.navbar-default .nav li.active a{
	color: #e67e22 !important;
	background-color: transparent !important;
}

.navbar-default .nav .active a:focus{
	background-color: transparent !important;
}

.sticky{
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
	z-index: 9999 !important;
	transition: 0.2s !important;
}

@media(max-width: 768px){
	.navbar{
		background-color: rgba(0, 0, 0, 0.8) !important;
	}
}

@media(max-width: 991px){
	.navbar .nav li{
		padding: 0;
	}
}

/* HEADER */

.header{
	padding: 140px 0 60px 0;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	border-bottom: 2px solid #c9c9c9;
}

.header h1{
	color: #ffffff;
	font-family: 'Pacifico', cursive;
	font-size: 750%;
}

.header p{
	color: #ffffff;
	font-size: 130%;
}

.header .btn{
	padding: 5px 50px;
	border-radius: 0;
}

@media only screen and (max-width: 768px){
	.header{
		text-align: center;
		padding-top: 20%;
	}

	.header h1{
		font-size: 500%;
	}

	.header p{
		font-size: 100%;
	}

	.header .btn{
		padding: 5px 12px;
		border-radius: 0;
	}

	.header img{
		padding-top: 10%;
	}
}

/* ABOUT */

.about{
	padding: 100px 0;
	text-align: center;
}

.about h1{
	font-size: 176%;
	color: #337ab7;
	padding-bottom: 25px;
}

.about p{
	padding-bottom: 25px;
}


/* FEATURES */

.features{
	background-color: #337ab7;
	text-align: center;
	color: #ffffff;
	padding: 90px 0;  
}

.features h1{
	font-size: 200%;
	padding-bottom: 25px;
}

.features img{
	padding: 15px 0 35px;
}


/* PRESS */

.press{
	padding: 90px 0;
	text-align: center;
}

.press h1{
	font-size: 180%;
	padding-bottom: 25px;
	color: #337ab7;
}

.press .press-logo li img{
	opacity: 0.3;
	padding-bottom: 25px;
}

.press .press-logo li img:hover{
	opacity: 1;
}

/* SCREENSHOTS */

.screenshots{
	background-color: #235178;
	padding: 90px 0;
	text-align: center;
	color: #ffffff;
}

.screenshots img{
	padding: 20px 0;
}

.screenshots h1{
	font-size: 200%;
}

/* REVIEWS */

.reviews{
	padding: 90px 0;
	text-align: center;
}

.reviews h1{
	font-size: 200%;
	padding-bottom: 25px;
	color: #337ab7;
}

.reviews p{
	padding-bottom: 35px;
}

.reviews .line2{
	padding-top: 35px;
}


/* REVIEWS */

.buy{
	padding: 100px 0;
	background-color: #1c3f5c;
	color: #ffffff;
	text-align: center;
}

.buy h1{
	font-size: 200%;
	padding-bottom: 25px;
}

.buy button{
	background-color: transparent;
	border: 0;
	padding-top: 25px;
}


/* CONTACT */

.contact{
	padding: 100px 0;
	text-align: center;
}

.contact h1{
	font-size: 200%;
	padding-bottom: 25px;
}

.contact .fa {
	color: #1c3f5c;
	padding: 20px 10px 40px;
}

.contact .fa:hover {
	color: #1D4E76;
}

.contact li{
	padding-top: 10px;
}

/* FOOTER */

.footer{
	background-color: #242424;
	color: #ffffff;
	padding: 30px 0;
}

.footer h1{
	font-family: "Lato", sans-serif;
	font-size: 150%;
}

.footer p{
	font-size: 90%;
	color: #f2f2f2;
}

.footer .credits{
	text-align: center;
	padding-top: 20px;
}

.footer .fa-heart{
	color: #ff0000;
	padding: 0 3px;
}

.footer .name{
	font-size: 110%;
	font-weight: bold;
}

.footer a{
	color: #f2f2f2;
}